snippet Test
	#!/usr/bin/env python
	# coding=utf-8
	

	import unittest


	class ${1}Test(unittest.TestCase):
		def setUp(self):
			pass

snippet bp
	import ipdb; ipdb.set_trace()

snippet sheba
	#!/usr/bin/env python
	# coding=utf-8

snippet ismain 
	if __name__ == '__main__':
		
